@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section id="intro" class="intro">

    <div class="slogan">
        <h2>WELCOME TO <span class="text_color">SATURN</span> </h2>
        <h4>SIMPLE COMIC TRACKER</h4>
    </div>
    <div class="page-scroll">
        <a href="#service" class="btn btn-circle">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
</section>
<section id="about" class="home-section text-center">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                        <div class="section-heading">
                            <h2>Popular Titles of This Week</h2>
                            <i class="fa fa-2x fa-angle-down"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Anna Hanaceck</h5>
                            <p class="subtitle">Pixel Crafter</p>
                            <div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp animated" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Maura Daniels</h5>
                            <p class="subtitle">Ruby on Rails</p>
                            <div class="avatar"><img src="img/team/2.jpg" alt="" class="img-responsive img-circle"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp animated" data-wow-delay="0.8s" style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Jack Briane</h5>
                            <p class="subtitle">jQuery Ninja</p>
                            <div class="avatar"><img src="img/team/3.jpg" alt="" class="img-responsive img-circle"></div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp animated" data-wow-delay="1s" style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Tom Petterson</h5>
                            <p class="subtitle">Typographer</p>
                            <div class="avatar"><img src="img/team/4.jpg" alt="" class="img-responsive img-circle"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-section text-center" id="about">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown animated" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;" data-wow-delay="0.4s">
                        <div class="section-heading">
                            <h2>Your Bundle</h2>
                            <i class="fa fa-2x fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp animated" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;" data-wow-delay="0.2s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Anna Hanaceck</h5>
                            <p class="subtitle">Pixel Crafter</p>
                            <div class="avatar"><img class="img-responsive img-circle" alt="" src="img/team/1.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp animated" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;" data-wow-delay="0.5s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Maura Daniels</h5>
                            <p class="subtitle">Ruby on Rails</p>
                            <div class="avatar"><img class="img-responsive img-circle" alt="" src="img/team/2.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp animated" style="visibility: visible;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;" data-wow-delay="0.8s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Jack Briane</h5>
                            <p class="subtitle">jQuery Ninja</p>
                            <div class="avatar"><img class="img-responsive img-circle" alt="" src="img/team/3.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="wow bounceInUp animated" style="visibility: visible;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;" data-wow-delay="1s">
                    <div class="team boxed-grey">
                        <div class="inner">
                            <h5>Tom Petterson</h5>
                            <p class="subtitle">Typographer</p>
                            <div class="avatar"><img class="img-responsive img-circle" alt="" src="img/team/4.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="widget-contact">
    <h5>Main Office</h5>

    <address>
        <strong>Squas Design, Inc.</strong><br>
        Tower 795 Folsom Ave, Beautiful Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>

    <address>
        <strong>Email</strong><br>
        <a href="mailto:#">email.name@example.com</a>
    </address>
    <address>
        <strong>We're on social networks</strong><br>
        <ul class="company-social">
            <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
            <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </address>

</div>

